body {
  background-image: url("/public/images/background.jpg");
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.App {
  text-align: center;
}

img {
  width: 600px;
  border: 5px solid white;
  border-radius: 25px;
}

iframe {
  width: 800px;
  height: 600px;
}